<div class="d-flex justify-content-between head">
  <div><i class="dep"></i><span>الاقسام</span></div>
  <i class="img-ico"></i>
</div>
<div class="tail">
  <div class="d-flex justify-content-between tail-head">
    <span>تعديل تصاميم الأقسام</span>
    <a routerLink="/categories"><i class="back"></i></a>
  </div>
  <div class="selections p-3">
    <div class="row">
      <span class="col-md-5">لون الخلفية</span>
      <div class="col-md-6">
        <span class="color-span"
          ><input [(colorPicker)]="color" [style.background]="color"
        /></span>
      </div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5">لون الخط</span>
      <div class="col-md-6">
        <span class="color-span"
          ><input [(colorPicker)]="color" [style.background]="color"
        /></span>
      </div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5">ظل الأقسام</span>
      <div class="col-md-6">
        <span class=""
          ><mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled"
          >
          </mat-slide-toggle
        ></span>
      </div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5">إتاحة عنوان للأقسام</span>
      <div class="col-md-6">
        <span class=""
          ><mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled"
          >
          </mat-slide-toggle
        ></span>
      </div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5">وضع إطار للأقسام</span>
      <div class="col-md-6">
        <span class=""
          ><mat-slide-toggle
            class="example-margin"
            [color]="color"
            [checked]="checked"
            [disabled]="disabled"
          >
          </mat-slide-toggle
        ></span>
      </div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5">وضع إطار للأقسام</span>
      <div class="col-md-6"><input type="text" /></div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5">حجم عنوان الأقسام</span>
      <div class="col-md-6"><input type="number" /></div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5">حجم خط الأقسام</span>
      <div class="col-md-6"><input type="number" /></div>
    </div>

    <div class="row mt-4">
      <span class="col-md-5">لون الاطار</span>
      <div class="col-md-6">
        <span class="color-span"
          ><input [(colorPicker)]="color" [style.background]="color"
        /></span>
      </div>
    </div>
  </div>
</div>
