<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/">
          <i class="fas fa-store-alt"></i>
          <span>باراشوت</span>
    </a>
    <button
      class="navbar-toggler btn-light"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a
            class="btn dropdown-toggle"
            routerLink="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            الصفحة الرئيسية
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="/home">اختيار الهيكل</a>
            <a class="dropdown-item" routerLink="#">الهيكل</a>
            <a class="dropdown-item" routerLink="#">الهيدر</a>
            <a class="dropdown-item" routerLink="#">الفوتر</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="btn dropdown-toggle"
            routerLink="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            صفحة المنتجات
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="#">اختيار الهيكل</a>
            <a class="dropdown-item" routerLink="#">الهيكل</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="btn dropdown-toggle"
            routerLink="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            صفحة القائمة الجانبية
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="#">اختيار الهيكل</a>
            <a class="dropdown-item" routerLink="#">تعديلات الهيكل</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="btn dropdown-toggle"
            routerLink="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            اعدادات المتجر
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" routerLink="#">الاساسية</a>
            <a class="dropdown-item" routerLink="#">التواصل</a>
            <a class="dropdown-item" routerLink="#">المواعيد</a>
            <a class="dropdown-item" routerLink="#">المكان</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
