<div class="col-md-12">
  <div class="head"><i class="top-bar"></i> الشريط العلوي</div>
  <div class="body">
    <ul>
      <li>
        <span>لون الخلفية</span
        ><span class="color-span"
          ><input [(colorPicker)]="color" [style.background]="color"
        /></span>
      </li>
      <li>
        صورة السلة
        <label>
          <input type="file" accept="image/*" #file class="d-none" />
          <i class="fas fa-shopping-cart"></i>
          <!-- <button (click)="file.click()"></button
        > -->
        </label>
      </li>
      <li>
        صورة شريط البحث
        <label>
          <input type="file" accept="image/*" #file class="d-none" />
          <i class="fas fa-search"></i>
          <!-- <button (click)="file.click()"></button
        > -->
        </label>
      </li>
    </ul>
  </div>
</div>
