<div class="d-flex justify-content-between head">
  <div><i class="top-bar"></i><span>الشريط العلوي</span></div>
  <i class="img-ico"></i>
</div>
<div class="tail py-4 ">
  <!-- <div class="d-flex justify-content-between tail-head">
    <span>تعديل تصاميم الأقسام</span>
    <a routerLink="/categories"><i class="back"></i></a>
  </div> -->
  <div class="selections p-3">
    <div class="row mb-5">
      <span class="col-md-5 col-5">لون الخلفية</span>
      <div class="col-md-6 col-6">
        <div>
          <span class="color-span" [style.background]="color"> </span>
          <color-sketch
            *ngIf="color"
            [ngStyle]="show ? { display: 'block' } : { display: 'none' }"
            [color]="color"
            (onChangeComplete)="changeComplete($event)"
          ></color-sketch>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5 col-5">اللوجو</span>
      <div class="col-md-6 col-6">
        <label>
          <i class="fab fa-pied-piper"></i>
          <input
            #file
            type="file"
            accept="image/*"
            (change)="logo($event)"
            class="d-none"
          />
          <!-- <button (click)="file.click()"></button
        > -->
        </label>
      </div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5 col-5">صورة السلة</span>
      <div class="col-md-6 col-6">
        <label>
          <input
            type="file"
            accept="image/*"
            #file
            (change)="cart($event)"
            class="d-none"
          />
          <i class="fas fa-shopping-cart"></i>
          <!-- <button (click)="file.click()"></button
        > -->
        </label>
      </div>
    </div>
    <div class="row mt-4">
      <span class="col-md-5 col-5">صورة شريط البحث</span>
      <div class="col-md-6 col-6">
        <span>
          <label>
            <input
              type="file"
              accept="image/*"
              #file
              (change)="search($event)"
              class="d-none"
            />
            <i class="fas fa-search"></i>
            <!-- <button (click)="file.click()"></button
        > -->
          </label>
        </span>
      </div>
    </div>
  </div>
</div>
