/* You can add global styles to this file, and also import other style files */
$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";

@font-face {
  font-family: "DroidKufi Bold";
  src: url("./assets/fonts/DroidKufi_Bold.ttf") format("opentype");
}

@font-face {
  font-family: "DroidKufi";
  src: url("./assets/fonts/DroidKufi_Regular.ttf") format("opentype");
}
@import "~ngx-bar-rating/themes/br-default-theme.css";
html,
body {
  height: 100%;
  text-align: right;
}

body {
  height: 100%;
  margin: 0;
  font-family: DroidKufi;
}

* {
  outline: none !important;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent !important;
  outline: 0;
  box-shadow: none !important;
}
app-store {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

app-footer {
  width: 100%;
  margin-top: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1260px;
  }
}

.searchbar-input.sc-ion-searchbar-md {
  padding: 0px 12px;
  text-align: right;
  font-size: 12px;
  margin-right: 10px;
}
.searchbar-input-container.sc-ion-searchbar-ios {
  // margin: 0 15px 0 0;
}
.searchbar-input.sc-ion-searchbar-ios {
  text-align: right;
  background: #fff;
  font-size: 12px;
  padding-left: 15px !important;
}

#slide-1 {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    height: 2px !important;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 2px;
  }
}

#slide-2 {
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -25px;
    position: relative;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #86979166;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;
  }
}
#slide4 {
  .owl-theme .owl-nav.disabled + .owl-dots {
    text-align: left;
    position: absolute;
    top: 155px;
    left: 13%;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 6px;
    height: 6px;
    margin: 5px;
    background: rgba(255, 252, 252, 0.44);
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: #fffcfc;
  }

  .owl-dot:nth-child(2) span {
    width: 20px !important;
    height: 6px !important;
  }

  .owl-stage {
    margin: 24px 0;
    overflow: visible;
  }

  .owl-item {
    box-shadow: 0;
    transition: 1s all;
    webkit-transition: 1s all;
  }

  .active {
    box-shadow: -1px 22px 31px -21px rgba(237, 130, 237, 1);
  }
}
.sim-sliders{

#slide4 {
  .owl-theme .owl-nav.disabled + .owl-dots {
    top: 80px;
  }

}
}


.swiper-pagination-bullet {
  background: #341642 !important;
  opacity: 0.6;
}

.home {
  background: url(./assets/images/homepage.png);
  width: 25px;
  height: 25px;
  background-size: cover;

  span {
    padding: 37px;
  }
}

.more {
  background: url(./assets/images/more.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.top-bar {
  background: url(./assets/images/adress-bar.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.slider-ico {
  background: url(./assets/images/slider.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.dep {
  background: url(./assets/images/dep.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.products {
  background: url(./assets/images/box.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.footer-ico {
  background: url(./assets/images/footer.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.img-ico {
  background: url(./assets/images/picture.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.palette {
  background: url(./assets/images/paint-palette.png);
  width: 20px;
  height: 25px;
  background-size: contain;
  padding: 0 13px;
  background-repeat: no-repeat;
}

.on {
  background: url(./assets/images/switch.png);
  width: 25px;
  height: 25px;
  background-size: cover;
  padding: 3px 22px;
}

.off {
  background: url(./assets/images/switch-off-icon.png);
  width: 25px;
  height: 25px;
  background-size: cover;
  padding: 3px 22px;
}

.back {
  background: url(./assets/images/back.jpg);
  width: 20px;
  height: 25px;
  background-size: contain;
  padding: 0 13px;
  background-repeat: no-repeat;
}

.color-picker .cursor {
  position: relative;
  width: 16px;
  height: 16px;
  border: #c6c6c680 solid 2px !important;
  border-radius: 50%;
  cursor: cell;
}

.color-picker {
  top: 32px !important;
  right: 67px !important;
  left: 0 !important;

  .arrow.arrow-right {
    display: none;
  }
}

.card-block {
  text-align: center;

  button {
    padding: 0 !important;
  }

  .fa-google {
    background: #dd4b39;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
  }

  .fa-facebook-f {
    background: #3b5998;
    padding: 10px 13px;
    color: #fff;
    border-radius: 5px;
  }
}

.seb-iframe-loading {
  height: 93% !important;
  display: none;
}

.mat-slide-toggle-bar {
  background-color: #304d5d;
  width: 44px !important;
  height: 22px !important;
  border-radius: 11px !important;
}

.mat-slide-toggle-thumb {
  box-shadow: none;
  background-color: #48ac9f;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swiper-zoom-container {
  display: block !important;
}

.iphone-x .custom-loading {
  background-size: cover !important;
  z-index: 1000 !important;
  position: absolute;
  width: 72.5%;
  margin: auto;
  margin-top: 128px;
  height: 562px;
}

.note8 .custom-loading {
  background-size: cover !important;
  z-index: 1000 !important;
  position: absolute;
  width: 72.5%;
  margin: auto;
  margin-top: 108px;
  height: 550px;
}

.loading-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}
.primary-slider {
  ion-slide {
    padding: 0 !important;
  }
  img {
    height: 550px;
    object-fit: cover;
  }
  .swiper-pagination {
    bottom: 28px !important;
  }
}
.swiper-pagination-bullet-active {
  background: #341642 !important;
  opacity: 1 !important;
}
.categories-slider {
  ion-slide {
    padding: 0px 2px !important;
    img {
      max-width: 90% !important;
    }
    span {
      font-size: 6px;
    }
  }
}
color-sketch {
  position: absolute;
  z-index: 1;
  display: none;
}
.sliding {
  margin: 0 !important;
}
.cat .sliding {
  margin: 0 !important;
  .item {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
  }
  .thumbnail-image {
    text-align: center;

    img {
      width: 42px;
      height: 42px;
      margin: auto;
    }
  }
}
.sim {
  owl-carousel-child {
    margin: 0;
  }
}
app-categories-list {
  width: 100%;
}
