<!-- start section header -->

<div class="d-flex justify-content-between head">
    <div><i class="dep"></i><span>المنتجات</span></div>
    <label class="add" style="cursor: pointer; margin-bottom: 0;" data-toggle="modal" data-target="#newProduct">
        <img src="../../../../assets/images/plus.png" alt="plus" width="25px" />
    </label>
</div>

<!-- end section header -->

<!-- start section body -->

<div class="tail">
  <div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="product-box">
              <div class="product-image">
                <img src="../../../../assets/images/shirt-2.jpg" width="100%" />
              </div>
              <div class="product-title">
                <h4>
                  القطن قصير الاكمام فضفاضة تي شيرت مجسم
                </h4>
              </div>
              <div class="product-details">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="product-price">
                        <h6>
                          230 ر.ع
                        </h6>
                      </div>
                    </div>
                    <div class="col-md-8">
                        <div class="product-stars">                        
                          <img src="../../../../assets/images/stars.jpg" alt="stars" width="60px" >
                          <span>(342)</span>
                        </div>
                    </div>                  
                  </div>
                </div>
              </div>
            </div>
        </div> 

      <div class="col-md-6">
          <div class="product-box">
            <div class="product-image">
              <img src="../../../../assets/images/shirt-3.jpg" width="100%" />
            </div>
            <div class="product-title">
              <h4>
                القطن قصير الاكمام فضفاضة تي شيرت مجسم
              </h4>
            </div>
            <div class="product-details">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="product-price">
                      <h6>
                        230 ر.ع
                      </h6>
                    </div>
                  </div>
                  <div class="col-md-8">
                      <div class="product-stars">                        
                        <img src="../../../../assets/images/stars.jpg" alt="stars" width="60px" >
                        <span>(342)</span>
                      </div>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
      </div>       

      <div class="col-md-6">
          <div class="product-box">
            <div class="product-image">
              <img src="../../../../assets/images/shirt-2.jpg" width="100%" />
            </div>
            <div class="product-title">
              <h4>
                القطن قصير الاكمام فضفاضة تي شيرت مجسم
              </h4>
            </div>
            <div class="product-details">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="product-price">
                      <h6>
                        230 ر.ع
                      </h6>
                    </div>
                  </div>
                  <div class="col-md-8">
                      <div class="product-stars">                        
                        <img src="../../../../assets/images/stars.jpg" alt="stars" width="60px" >
                        <span>(342)</span>
                      </div>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
      </div>      

      <div class="col-md-6" style="padding-bottom: 30px;">
          <div class="product-box">
            <div class="product-image">
              <img src="../../../../assets/images/shirt-3.jpg" width="100%" />
            </div>
            <div class="product-title">
              <h4>
                القطن قصير الاكمام فضفاضة تي شيرت مجسم
              </h4>
            </div>
            <div class="product-details">
              <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="product-price">
                      <h6>
                        230 ر.ع
                      </h6>
                    </div>
                  </div>
                  <div class="col-md-8">
                      <div class="product-stars">                        
                        <img src="../../../../assets/images/stars.jpg" alt="stars" width="60px" >
                        <span>(342)</span>
                      </div>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
      </div>      

    </div>
  </div>   
</div>

<!-- end section body -->