<div class="pro-Page" *ngIf="source == 'products-page'">
  <h6 class="font-weight-bold mt-3 m-0">أشهر المنتجات</h6>
  <div class="row px-5" (click)="setId(1)">
    <div class="col-md-6 col-6  px-1">
      <div class="product-box">
        <div class="product-image">
          <img src="../../../../assets/images/shirt-2.jpg" width="100%" />
        </div>
        <div class="product-title">
          <h4>
            القطن قصير الاكمام فضفاضة تي شيرت مجسم
          </h4>
        </div>
        <div class="product-details">
          <div class="container">
            <div class="row">
              <div class="col-md-5 my-auto">
                <div class="product-price">
                  <h6>
                    230 ر.ع
                  </h6>
                </div>
              </div>
              <div class="col-md-7 p-2 text-left">
                <div class="product-stars">
                  <img
                    src="../../../../assets/images/stars.jpg"
                    alt="stars"
                    width="60px"
                  />
                  <span>(342)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-6  px-1">
      <div class="product-box">
        <div class="product-image">
          <img src="../../../../assets/images/shirt-3.jpg" width="100%" />
        </div>
        <div class="product-title">
          <h4>
            القطن قصير الاكمام فضفاضة تي شيرت مجسم
          </h4>
        </div>
        <div class="product-details">
          <div class="container">
            <div class="row">
              <div class="col-md-5 my-auto">
                <div class="product-price">
                  <h6>
                    230 ر.ع
                  </h6>
                </div>
              </div>
              <div class="col-md-7 p-2 text-left">
                <div class="product-stars">
                  <img
                    src="../../../../assets/images/stars.jpg"
                    alt="stars"
                    width="60px"
                  />
                  <span>(342)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-6  px-1">
      <div class="product-box">
        <div class="product-image">
          <img src="../../../../assets/images/shirt-2.jpg" width="100%" />
        </div>
        <div class="product-title">
          <h4>
            القطن قصير الاكمام فضفاضة تي شيرت مجسم
          </h4>
        </div>
        <div class="product-details">
          <div class="container">
            <div class="row">
              <div class="col-md-5 my-auto">
                <div class="product-price">
                  <h6>
                    230 ر.ع
                  </h6>
                </div>
              </div>
              <div class="col-md-7 p-2 text-left">
                <div class="product-stars">
                  <img
                    src="../../../../assets/images/stars.jpg"
                    alt="stars"
                    width="60px"
                  />
                  <span>(342)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-6  px-1" style="padding-bottom: 30px;">
      <div class="product-box">
        <div class="product-image">
          <img src="../../../../assets/images/shirt-3.jpg" width="100%" />
        </div>
        <div class="product-title">
          <h4>
            القطن قصير الاكمام فضفاضة تي شيرت مجسم
          </h4>
        </div>
        <div class="product-details">
          <div class="container">
            <div class="row">
              <div class="col-md-5 my-auto">
                <div class="product-price">
                  <h6>
                    230 ر.ع
                  </h6>
                </div>
              </div>
              <div class="col-md-7 p-2 text-left">
                <div class="product-stars">
                  <img
                    src="../../../../assets/images/stars.jpg"
                    alt="stars"
                    width="60px"
                  />
                  <span>(342)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3" (click)="setId(2)">
    <owl-carousel
      style="width: 100%; margin: auto"
      [options]="{
        items: 3,
        dots: false,
        navigation: false,
        rtl: true,
        loop: true
      }"
      [items]="products"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <div class="item m-1 p-2" *ngFor="let product of products; let i = index">
        <div class="thumbnail-image">
          <img [src]="product.photo" />
          <span>{{ product.category }}</span>
          <h6>{{ product.name }}</h6>

          <div class="product-stars d-flex">
            <img
              src="../../../../assets/images/stars.jpg"
              alt="stars"
              width="60px"
            />
            <span>(342)</span>
          </div>
        </div>
      </div>
    </owl-carousel>
    <h6 class="mt-3">أفضل العروض</h6>
    <owl-carousel
      style="width: 100%; margin: auto"
      [options]="{
        items: 3,
        dots: false,
        navigation: false,
        rtl: true,
        loop: true
      }"
      [items]="products"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <div class="item m-1 p-2" *ngFor="let product of products; let i = index">
        <div class="thumbnail-image">
          <img [src]="product.photo" />
          <span>{{ product.category }}</span>
          <h6>{{ product.name }}</h6>

          <div class="product-stars d-flex">
            <img
              src="../../../../assets/images/stars.jpg"
              alt="stars"
              width="60px"
            />
            <span>(342)</span>
          </div>
        </div>
      </div>
    </owl-carousel>
  </div>
  <div class="p-3" (click)="setId(3)">
    <owl-carousel
      style="width: 100%; margin: auto"
      [options]="{
        items: 3,
        dots: false,
        navigation: false,
        rtl: true,
        loop: true
      }"
      [items]="products"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <div class="item m-1 p-2" *ngFor="let product of products; let i = index">
        <div class="thumbnail-image">
          <img [src]="product.photo" />
          <span>{{ product.category }}</span>
          <h6>{{ product.name }}</h6>

          <div class="product-stars d-flex">
            <img
              src="../../../../assets/images/stars.jpg"
              alt="stars"
              width="60px"
            />
            <span>(342)</span>
          </div>
        </div>
      </div>
    </owl-carousel>
    <div>
      <h6 class="my-3">تصفح حسب الفئة</h6>
      <div class="row division">
        <div class="grand col-md-6 col-6  px-1">
          <img
            src="../../../../assets/images/58933461_2232195253524681_5787888431916908544_n.jpg"
            alt=""
          />
          <span></span>
        </div>
        <div class="col-md-6 col-6  px-1">
          <div class="row">
            <div class="col-md-6 col-6  px-1">
              <img
                src="../../../../assets/images/60136386_2261895037221369_2823275448987811840_n.png"
                alt=""
              />
              <span></span>
            </div>
            <div class="col-md-6 col-6  px-1">
              <img
                src="../../../../assets/images/60364039_2261449820599224_7930565118159486976_n.png"
                alt=""
              />
              <span></span>
            </div>
            <div class="col-md-6 col-6  px-1">
              <img
                src="../../../../assets/images/pink-spring-outfit-ideas.png"
                alt=""
              />
              <span></span>
            </div>
            <div class="col-md-6 col-6  px-1">
              <img
                src="../../../../assets/images/nike-vapormax-2019-womens-pink-white-ar6632-105-3.jpg"
                alt=""
              />
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sim-page pt-2" *ngIf="source == 'ion-sim'">
  <h6 class="font-weight-bold m-0">أشهر المنتجات</h6>
  <div class="row" *ngIf="productsId == 1">
    <div class="col-md-6 col-6  px-1">
      <div class="product-box">
        <div class="product-image">
          <img src="../../../../assets/images/shirt-2.jpg" width="100%" />
        </div>
        <div class="product-title">
          <h4>
            القطن قصير الاكمام فضفاضة تي شيرت مجسم
          </h4>
        </div>
        <div class="product-details">
          <div class="container">
            <div class="row">
              <div class="col-md-5 my-auto">
                <div class="product-price">
                  <h6>
                    230 ر.ع
                  </h6>
                </div>
              </div>
              <div class="col-md-7 p-1 text-left">
                <div class="product-stars">
                  <img
                    src="../../../../assets/images/stars.jpg"
                    alt="stars"
                    width="60px"
                  />
                  <span>(342)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-6  px-1">
      <div class="product-box">
        <div class="product-image">
          <img src="../../../../assets/images/shirt-3.jpg" width="100%" />
        </div>
        <div class="product-title">
          <h4>
            القطن قصير الاكمام فضفاضة تي شيرت مجسم
          </h4>
        </div>
        <div class="product-details">
          <div class="container">
            <div class="row">
              <div class="col-md-5 my-auto">
                <div class="product-price">
                  <h6>
                    230 ر.ع
                  </h6>
                </div>
              </div>
              <div class="col-md-7 p-1 text-left">
                <div class="product-stars">
                  <img
                    src="../../../../assets/images/stars.jpg"
                    alt="stars"
                    width="60px"
                  />
                  <span>(342)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-6  px-1">
      <div class="product-box">
        <div class="product-image">
          <img src="../../../../assets/images/shirt-2.jpg" width="100%" />
        </div>
        <div class="product-title">
          <h4>
            القطن قصير الاكمام فضفاضة تي شيرت مجسم
          </h4>
        </div>
        <div class="product-details">
          <div class="container">
            <div class="row">
              <div class="col-md-5 my-auto">
                <div class="product-price">
                  <h6>
                    230 ر.ع
                  </h6>
                </div>
              </div>
              <div class="col-md-7 p-1 text-left">
                <div class="product-stars">
                  <img
                    src="../../../../assets/images/stars.jpg"
                    alt="stars"
                    width="60px"
                  />
                  <span>(342)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-6  px-1" style="padding-bottom: 30px;">
      <div class="product-box">
        <div class="product-image">
          <img src="../../../../assets/images/shirt-3.jpg" width="100%" />
        </div>
        <div class="product-title">
          <h4>
            القطن قصير الاكمام فضفاضة تي شيرت مجسم
          </h4>
        </div>
        <div class="product-details">
          <div class="container">
            <div class="row">
              <div class="col-md-5 my-auto">
                <div class="product-price">
                  <h6>
                    230 ر.ع
                  </h6>
                </div>
              </div>
              <div class="col-md-7 p-1 text-left">
                <div class="product-stars">
                  <img
                    src="../../../../assets/images/stars.jpg"
                    alt="stars"
                    width="60px"
                  />
                  <span>(342)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slide slide mt-2" *ngIf="productsId == 2">
    <owl-carousel
      style="width: 100%; margin: auto"
      [options]="{
        items: 3,
        dots: false,
        navigation: false,
        rtl: true,
        loop: true
      }"
      [items]="products"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <div class="item m-1 p-1" *ngFor="let product of products; let i = index">
        <div class="thumbnail-image">
          <img [src]="product.photo" />
          <span>{{ product.category }}</span>
          <h6>{{ product.name }}</h6>

          <div class="product-stars d-flex">
            <img
              src="../../../../assets/images/stars.jpg"
              alt="stars"
              width="60px"
            />
            <span>(342)</span>
          </div>
        </div>
      </div>
    </owl-carousel>
    <h6 class="mt-3">أفضل العروض</h6>
    <owl-carousel
      style="width: 100%; margin: auto"
      [options]="{
        items: 3,
        dots: false,
        navigation: false,
        rtl: true,
        loop: true
      }"
      [items]="products"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <div class="item m-1 p-2" *ngFor="let product of products; let i = index">
        <div class="thumbnail-image">
          <img [src]="product.photo" />
          <span>{{ product.category }}</span>
          <h6>{{ product.name }}</h6>

          <div class="product-stars d-flex">
            <img
              src="../../../../assets/images/stars.jpg"
              alt="stars"
              width="60px"
            />
            <span>(342)</span>
          </div>
        </div>
      </div>
    </owl-carousel>
  </div>
    <div class="slide slide mt-2" *ngIf="productsId == 3">
    <owl-carousel
      style="width: 100%; margin: auto"
      [options]="{
        items: 3,
        dots: false,
        navigation: false,
        rtl: true,
        loop: true
      }"
      [items]="products"
      [carouselClasses]="['owl-theme', 'row', 'sliding']"
    >
      <div class="item m-1 p-1" *ngFor="let product of products; let i = index">
        <div class="thumbnail-image">
          <img [src]="product.photo" />
          <span>{{ product.category }}</span>
          <h6>{{ product.name }}</h6>

          <div class="product-stars d-flex">
            <img
              src="../../../../assets/images/stars.jpg"
              alt="stars"
              width="60px"
            />
            <span>(342)</span>
          </div>
        </div>
      </div>
    </owl-carousel>
    <div>
      <h6 class="my-3">تصفح حسب الفئة</h6>
      <div class="row division">
        <div class="grand col-md-6 col-6  px-1">
          <img
            src="../../../../assets/images/58933461_2232195253524681_5787888431916908544_n.jpg"
            alt=""
          />
          <span></span>
        </div>
        <div class="col-md-6 col-6  px-1">
          <div class="row">
            <div class="col-md-6 col-6  px-1">
              <img
                src="../../../../assets/images/60136386_2261895037221369_2823275448987811840_n.png"
                alt=""
              />
              <span></span>
            </div>
            <div class="col-md-6 col-6  px-1">
              <img
                src="../../../../assets/images/60364039_2261449820599224_7930565118159486976_n.png"
                alt=""
              />
              <span></span>
            </div>
            <div class="col-md-6 col-6  px-1">
              <img
                src="../../../../assets/images/pink-spring-outfit-ideas.png"
                alt=""
              />
              <span></span>
            </div>
            <div class="col-md-6 col-6  px-1">
              <img
                src="../../../../assets/images/nike-vapormax-2019-womens-pink-white-ar6632-105-3.jpg"
                alt=""
              />
              <span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
