<!-- <div class='col-md-10'>
  <img src="../../assets/images/squarespacestore.svg">
  <button class='btn btn-dark' routerLink='/home'>Get Started</button>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div>
        <button class="menu-item m-2">
          <img src=".././../assets/images/mobile.png" /><span class="d-none"
            >تصميم الصفحات</span
          >
        </button>
        <div class="page">
          <ul>
            <li>
              <!-- Default dropleft button -->
              <div class="btn-group dropleft mt-5">
                <button
                  type="button"
                  class="btn dropdown-toggle d-flex justify-content-between"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="home"><span>الصفحة الرئيسية</span> </i>
                  <i class="more"></i>
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="top-bar"></i>الشريط العلوي</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="slider-ico"></i>سلايدر</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="dep"></i>الاقسام</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="products"></i>المنتجات</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="footer-ico"></i>الشريط السفلي</a
                  >
                </div>
              </div>
            </li>
            <li>
              <!-- Default dropleft button -->
              <div class="btn-group dropleft mt-5">
                <button
                  type="button"
                  class="btn dropdown-toggle d-flex justify-content-between"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="home"> <span>الصفحة الرئيسية</span> </i>
                  <i class="more"></i>
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <div class="dropdown-menu">
                    <!-- Dropdown menu links -->
                    <a class="dropdown-item d-flex " routerLink="#"
                      ><i class="top-bar"></i>الشريط العلوي</a
                    >
                    <a class="dropdown-item d-flex " routerLink="#"
                      ><i class="slider-ico"></i>سلايدر</a
                    >
                    <a class="dropdown-item d-flex " routerLink="#"
                      ><i class="dep"></i>الاقسام</a
                    >
                    <a class="dropdown-item d-flex " routerLink="#"
                      ><i class="products"></i>المنتجات</a
                    >
                    <a class="dropdown-item d-flex " routerLink="#"
                      ><i class="footer-ico"></i>الشريط السفلي</a
                    >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <!-- Default dropleft button -->
              <div class="btn-group dropleft mt-5">
                <button
                  type="button"
                  class="btn dropdown-toggle d-flex justify-content-between"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="home"><span>الصفحة الرئيسية</span></i>
                  <i class="more"></i>
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="top-bar"></i>الشريط العلوي</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="slider-ico"></i>سلايدر</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="dep"></i>الاقسام</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="products"></i>المنتجات</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#"
                    ><i class="footer-ico"></i>الشريط السفلي</a
                  >
                </div>
              </div>
            </li>
            <li>
              <!-- Default dropleft button -->
              <div class="btn-group dropleft mt-5">
                <button
                  type="button"
                  class="btn dropdown-toggle d-flex justify-content-between"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="home"> <span>الصفحة الرئيسية</span> </i>
                  <i class="more"></i>
                </button>
                <div class="dropdown-menu">
                  <!-- Dropdown menu links -->
                  <a class="dropdown-item d-flex " routerLink="#"
                    >الشريط العلوي</a
                  >
                  <a class="dropdown-item d-flex " routerLink="#">سلايدر</a>
                  <a class="dropdown-item d-flex " routerLink="#">الاقسام</a>
                  <a class="dropdown-item d-flex " routerLink="#">المنتجات</a>
                  <a class="dropdown-item d-flex " routerLink="#"
                    >الشريط السفلي</a
                  >
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <button class="menu-item m-2">
        <img src=".././../assets/images/mobile.png" /><span></span>
      </button>
      <button class="menu-item m-2">
        <img src=".././../assets/images/mobile.png" /><span></span>
      </button>
      <button class="menu-item m-2">
        <img src=".././../assets/images/mobile.png" /><span></span>
      </button>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12 col-12"><app-ionicsimulator></app-ionicsimulator></div>
  </div>
</div>
