// div {
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: contain;
//   }

//   button {
//     position: absolute;
//     top: 600px;
//     z-index: 9999999999;
//     left: 38%;
//     padding: 6px 50px;
//   }
// }

.container {
  margin: auto;
  padding: 150px 0;
}

i {
  margin: 0 5px;
}

.menu-item {

  width: 70px;
  height: 65px;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px #e8e8e8;
  display: block;
  background: transparent;
  outline: none;

  &:hover {
    width: 25%;
    height: 25%;
    border-radius: 30px;
    text-align: right;

    .d-none {
      display: inline !important;
      padding: 0 18px;
    }
  }

  &:focus {
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px 15px;
    text-align: right;

    .d-none {
      display: inline !important;
      padding-right: 55%;
    }

  }

  img {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

button:focus+.page {
  display: block;
}

.page {
  display: none;
  background: #e6eaed;
  width: 70%;
  margin-right: 31%;
  margin-top: -8px;
  border: 1px solid #ccc;
}

.page:focus {
  display: block;
}

.page>ul {
  list-style: none;
  text-align: center
}

.dropdown-toggle:hover+.dropdown-menu {
  display: block;
  text-align: right;
  // margin-right: -5px; // remove the gap so it doesn't close
}

.dropdown-menu:hover {
  display: block;
}

.btn-group.dropleft {
  width: 80%;
  border: 1px solid #ccc;

  .btn {
    text-align: right;
    background: #fff;
  }
}

.home {
  background: url(../../../../assets/images/homepage.png);
  width: 25px;
  height: 25px;
  background-size: cover;
  span{
    padding: 37px;
  }
}

.more {
  background: url(../../../../assets/images/more.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.top-bar {
  background: url(../../../../assets/images/adress-bar.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.slider-ico {
  background: url(../../../../assets/images/slider.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.dep {
  background: url(../../../../assets/images/dep.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.products {
  background: url(../../../../assets/images/box.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.footer-ico {
  background: url(../../../../assets/images/footer.png);
  width: 25px;
  height: 25px;
  background-size: cover;
}

.dropleft .dropdown-toggle::before {
  display: none;
}

.dropleft .dropdown-menu {

  text-align: right;
}

@media only screen and (max-width:375px) {
  .container {
    margin: 0;
    padding: 100px 10px;
  }
}
