<div class="sidebar">
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <!-- <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
        <strong>BS</strong>
      </div> -->

      <ul class="list-unstyled components">
        <li class="active">
          <a
            href="#homeSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span>الصفحة الرئيسية</span>

          </a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a routerLink="#">اختيار الهيكل</a>
            </li>
            <li>
              <a routerLink="/store/headers">الهيدر</a>
            </li>
            <li>
              <a routerLink="#">الهيكل</a>
            </li>
            <li>
              <a routerLink="#">الفوتر</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#productsSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span> صفحة المنتجات</span>

          </a>
          <ul class="collapse list-unstyled" id="productsSubmenu">
            <li>
              <a routerLink="#">اختيار الهيكل</a>
            </li>
            <li>
              <a routerLink="#">الهيكل</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#sidebarSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span>صفحة القائمة الجانبية</span>

          </a>
          <ul class="collapse list-unstyled" id="sidebarSubmenu">
            <li>
              <a routerLink="#">اختيار الهيكل</a>
            </li>
            <li>
              <a routerLink="#">تعديلات الهيكل</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#storeSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span>اعدادات المتجر</span>

          </a>
          <ul class="collapse list-unstyled" id="storeSubmenu">
            <li>
              <a routerLink="#">الاساسيه</a>
            </li>
            <li>
              <a routerLink="#">التواصل</a>
            </li>
            <li>
              <a routerLink="#">المواعيد</a>
            </li>
            <li>
              <a routerLink="#">المكان</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
