header {
  width: 100%;
  height: 75px;
  background: #fff;
  color: #333;
  border: 1px solid #f9f3f3;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1040;
  box-shadow: 7px -4px 10px #ccc;
}

.navbar {
  display: block !important;
}

.logo {
  // width: 100%;
  height: 63px;
  object-fit: contain;

  i {
    color: #fff;
    font-size: 50px;

    padding: 10px;
  }

  span {
    color: #fff;
    font-size: 20px;
  }
}

.nav-item > a {
  display: none;
}

// .btn {
//   width: 150px;
//   height: 30px;
//   background-color: #558d12;
//   color: #fff;
//   padding: 0;
//   border-radius: 15px;

//   span {
//     vertical-align: super;
//   }

// }
.modal-header .close {
  padding: 0 !important;
  margin: 0 !important;
}

.form-group {
  text-align: start;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(11, 114, 75, 0.25);
}

// ul {
//   list-style: none;
//   display: flex;

//   .dropdown:hover .dropdown-menu {
//     display: block;
//   }

//   li {

//     a {
//       color: #fff;
//       cursor: pointer;
//     }

//     .dropdown-menu a {
//       color: #000000 !important;
//       text-align: right;

//       &:active {
//         background: #ccc;
//       }
//     }

//     .dropdown-toggle::after {

//       display: none;
//     }
//   }

// }

// .navbar-light .navbar-brand {
//   color: #fff;
//   font-size: 30px;
// }

// .navbar-light .navbar-toggler {

//   background: #ccc;
//   border-color: rgba(0, 0, 0, .1);
// }

// .navbar-collapse {
//   background: #000000;
// }

// .navbar-collapse {
//   ul {
//     li {
//       a {
//         color: #fff;
//       }
//     }
//   }

// }

.form-dark .font-small {
  font-size: 0.8rem;
}

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem;
}

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px;
}

.form-dark .md-form label {
  color: #fff;
}

.form-dark input[type="email"]:focus:not([readonly]) {
  border-bottom: 1px solid #00c851;
  -webkit-box-shadow: 0 1px 0 0 #00c851;
  box-shadow: 0 1px 0 0 #00c851;
}

.form-dark input[type="email"]:focus:not([readonly]) + label {
  color: #fff;
}

.form-dark input[type="password"]:focus:not([readonly]) {
  border-bottom: 1px solid #00c851;
  -webkit-box-shadow: 0 1px 0 0 #00c851;
  box-shadow: 0 1px 0 0 #00c851;
}

.form-dark input[type="password"]:focus:not([readonly]) + label {
  color: #fff;
}

.form-dark input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.form-dark .modal-header {
  border-bottom: none;
}

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
  }

  .nav-item > a {
    display: block;
  }
}

.auth-links {
  a {
    padding: 13px;
    color: #341642;
  }

  a:hover {
    text-decoration: none;
  }
  i {
    margin: 20px 10px;
  }
  @media only screen and (max-width: 425px) {
    span {
      display: none;
    }
  }
}
