<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex justify-content-between">
   
      <a routerLink="/">     
        <!-- <i class="fas fa-store-alt"></i> -->
        <!-- <span>باراشوت</span> -->
        <img class="logo" src="../../assets/images/logo.png" />
      </a>
      <!-- <button class="btn mt-3"><span>نشر</span></button> -->
      <div class="d-flex auth-links">
        <a routerLink="/auth/login">
          <i class="fas fa-sign-in-alt"></i>

          الدخول
        </a>
        <a routerLink="/auth/signup">
          <i class="fas fa-user-plus"></i>
          التسجيل
        </a>
      </div>
    </div>
  </nav>
</header>
