<app-header></app-header>
<!--<div class="container">
  <div class="row">
    <div class="col-md-2 col-12 mt-4">
      <app-sidebar></app-sidebar>
    </div>
    <div class="routes col-md-6 col-12 mt-5">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-4 col-12 ">
      <app-ionicsimulator></app-ionicsimulator>
    </div>
  </div>
</div>
<app-footer></app-footer> -->
<div class="page">
  <header tabindex="0">Header</header>
  <main>
    <div class="content">
      <div class="routes col-md-6 col-12 mt-5">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-4 col-12 ">
        <app-ionicsimulator></app-ionicsimulator>
      </div>
    </div>
  </main>
  <div id="nav-container">
    <div class="bg"></div>
    <div class="button" tabindex="0">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div id="nav-content" tabindex="0">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</div>
