<div class="d-flex justify-content-between head">
  <div><i class="dep"></i><span>الاقسام</span></div>
  <i
    class="img-ico"
    data-toggle="modal"
    data-target="#exampleModal"
    title="الاقسام"
    style="cursor: pointer;"
  ></i>
</div>
<div class="tail">
  <div class="d-flex justify-content-between tail-head">
    <span>اختر تصميم الأقسام</span>
    <a routerLink="/edit-categories"><i class="palette"></i></a>
  </div>
  <app-categories-list [source]="'page'"></app-categories-list>
</div>
