.head {
  border: 1px solid #ccc;
  padding: 15px;
}

.dep {
  background: url("../../../../assets/images/dep.png");
  background-repeat: repeat;
  background-size: auto;
  width: 25px;
  height: 25px;
  background-size: contain;
  padding: 0 0 0 25px;
  margin-left: 5px;
  background-repeat: no-repeat;
}

.tail {
  background: #fafafa;

  border: 1px solid #ccc;
  height: 70vh;

  .tail-head {
    padding: 15px;
  }
}

.col {
  text-align: center;
  padding: 0;

  span {
    display: block;
    font-size: 8px;
    margin-top: 10px;
  }

  img {
    width: 50px;
  }
}

.cate-1 {
  margin: auto;
  background: #e6eaed;
  border-radius: 10px;

  & > img {
    height: 100%;
    width: 100%;
  }
}

.cat {
  width: 93%;
  background: #fff;
  border: 1px solid #efefef;
  padding: 10px;
  border-radius: 10px;
}

.palette {
  margin: 5px;
}

a {
  &:hover {
    text-decoration: none;
  }
}
