<div *ngIf="source === 'page'">
  <div id="slide-1" (click)="getSliderId(1)" class="slider  mb-4">
    <!-- <div class="d-flex head justify-content-between">
      <img src="../../../../assets/images/user-icon.png" />
      <span style='color: purple'>&#8211;</span>
      <span>User Name</span>
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div> -->
    <owl-carousel
      [options]="{
        items: 1,
        autoplay: true,
        dots: true,
        nav: false,
        rtl: true
      }"
      [items]="images"
      [carouselClasses]="['owl-carousel owl-theme sliding']"
    >
      <div class="item" *ngFor="let image of images; let i = index">
        <div class="thumbnail-image">
          <a data-toggle="modal" data-target="#exampleModal"
            ><img src="{{ image.name }}"
          /></a>
          <img src="{{ image.name }}" />
        </div>
      </div>
    </owl-carousel>
  </div>
  <div id="slide-2" (click)="getSliderId(2)" class="slider  mb-4 p-0">
    <owl-carousel
      [options]="{
        items: 1,
        autoplay: true,
        dots: true,
        nav: false,
        rtl: true
      }"
      [items]="images"
      [carouselClasses]="['owl-theme sliding']"
    >
      <div class="item" *ngFor="let image of images; let i = index">
        <div class="thumbnail-image">
          <a><img src="{{ image.name }}"/></a>
        </div>
      </div>
    </owl-carousel>
  </div>
  <div id="slide-3" (click)="getSliderId(3)" class="slider  mb-4 p-0">
    <owl-carousel
      [options]="{
        items: 1,
        autoplay: true,
        dots: false,
        nav: false,
        rtl: true
      }"
      [items]="images"
      [carouselClasses]="['owl-theme sliding']"
    >
      <div class="item" *ngFor="let image of images; let i = index">
        <div class="thumbnail-image">
          <a><img src="{{ image.name }}"/></a>
          <img src="{{ image.name }}" />
        </div>
      </div>
    </owl-carousel>
  </div>
  <div id="slide4" (click)="getSliderId(4)" class="slider  mb-4 p-0">
    <owl-carousel
      [options]="{
        items: 1,
        autoplay: true,
        dots: true,
        nav: false,
        rtl: true,
        items: 1,
        autoplay: true,
        loop: true,
        margin: 10,
        stagePadding: 30
      }"
      [items]="images"
      [carouselClasses]="['owl-theme sliding']"
    >
      <div class="item" *ngFor="let image of images; let i = index">
        <div class="thumbnail-image">
          <a><img src="{{ image.name }}"/></a>
        </div>
      </div>
    </owl-carousel>
  </div>
</div>
<div *ngIf="source === 'sim'">
  <div
    *ngIf="id == 1"
    id="slide-1"
    (click)="getSliderId(1)"
    class="slider  mb-4"
  >
    <!-- <div class="d-flex head justify-content-between">
      <img src="../../../../assets/images/user-icon.png" />
       <span style='color: purple'>&#8211;</span>
      <span>User Name</span>
      <button class="hamburger hamburger--spin" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div> -->
    <owl-carousel
      [options]="{
        items: 1,
        autoplay: true,
        dots: true,
        nav: false,
        rtl: true
      }"
      [items]="images"
      [carouselClasses]="['owl-carousel owl-theme sliding']"
    >
      <div class="item" *ngFor="let image of images; let i = index">
        <div class="thumbnail-image">
          <a><img src="{{ image.name }}"/></a>
          <img src="{{ image.name }}" />
        </div>
      </div>
    </owl-carousel>
  </div>
  <div
    *ngIf="id == 2"
    id="slide-2"
    (click)="getSliderId(2)"
    class="slider  mb-4 p-0"
  >
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let image of images; let i = index">
        <a><img src="{{ image.name }}"/></a>
      </ion-slide>
    </ion-slides>
  </div>
  <div
    *ngIf="id == 3"
    id="slide-3"
    (click)="getSliderId(3)"
    class="slider  mb-4 p-0"
  >
    <owl-carousel
      [options]="{
        items: 1,
        autoplay: true,
        dots: false,
        nav: false,
        rtl: true
      }"
      [items]="images"
      [carouselClasses]="['owl-theme sliding']"
    >
      <div class="item" *ngFor="let image of images; let i = index">
        <div class="thumbnail-image">
          <a><img src="{{ image.name }}"/></a>
          <img src="{{ image.name }}" />
        </div>
      </div>
    </owl-carousel>
  </div>
  <div
    *ngIf="id == 4"
    id="slide4"
    (click)="getSliderId(4)"
    class="slider  mb-4 p-0"
  >
    <owl-carousel
      [options]="{
        items: 1,
        autoplay: true,
        dots: true,
        nav: false,
        rtl: true,
        items: 1,
        autoplay: true,
        loop: true,
        margin: 10,
        stagePadding: 30
      }"
      [items]="images"
      [carouselClasses]="['owl-theme sliding']"
    >
      <div class="item" *ngFor="let image of images; let i = index">
        <div class="thumbnail-image">
          <a><img src="{{ image.name }}"/></a>
        </div>
      </div>
    </owl-carousel>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <h5 class="modal-title" id="exampleModalLabel">رفع صور السلايدر</h5>
        <!-- <button
          class=""
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
        </button> -->
        <label class="add" (click)="addImg()">
          <input #imagesInput type="file" accept="image/*" #file class="d-none" (change)="processFile(imagesInput) "/>
          <!-- <button (click)="file.click()"></button
        > -->
        </label>
      </div>
      <div class="modal-body">
        <div class="item" *ngFor="let image of imagesDisplay; let i = index">
          <div class="thumbnail-img d-flex">
            <img src="{{ image.name }}" /><span
              (click)="deleteImg(image.name)"
              class="cancle"
            ></span>
            <div class="deleted">
              تم المسح
              <span
                ><img src="../../../../assets/images/credit-card.png"
              /></span>
            </div>
          </div>
        </div>
        <label *ngIf="imagesDisplay.length == 0" class="upload" (click)="addImg()">
            <input
              #imagesInput
              type="file"
              accept="image/*"
              #file
              class="d-none"
              (change)="processFile(imagesInput)"
            />
            <i class="fas fa-plus"></i>رفع صورة

            <!-- <button (click)="file.click()"></button
        > --></label
        >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn submit">Save changes</button>
      </div>
    </div>
  </div>
</div>
