<!-- <div class="sidebar">
  <div class="wrapper">
    <nav id="sidebar">
      <ul class="list-unstyled components">
        <li class="active">
          <a
            href="#homeSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span>الصفحة الرئيسية</span>

          </a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a routerLink="#">اختيار الهيكل</a>
            </li>
            <li>
              <a routerLink="/store/headers">الهيدر</a>
            </li>
            <li>
              <a routerLink="#">الهيكل</a>
            </li>
            <li>
              <a routerLink="#">الفوتر</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#productsSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span> صفحة المنتجات</span>

          </a>
          <ul class="collapse list-unstyled" id="productsSubmenu">
            <li>
              <a routerLink="#">اختيار الهيكل</a>
            </li>
            <li>
              <a routerLink="#">الهيكل</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#sidebarSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span>صفحة القائمة الجانبية</span>

          </a>
          <ul class="collapse list-unstyled" id="sidebarSubmenu">
            <li>
              <a routerLink="#">اختيار الهيكل</a>
            </li>
            <li>
              <a routerLink="#">تعديلات الهيكل</a>
            </li>
          </ul>
        </li>
        <li>
          <a
            href="#storeSubmenu"
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle"
          >
            <span>اعدادات المتجر</span>

          </a>
          <ul class="collapse list-unstyled" id="storeSubmenu">
            <li>
              <a routerLink="#">الاساسيه</a>
            </li>
            <li>
              <a routerLink="#">التواصل</a>
            </li>
            <li>
              <a routerLink="#">المواعيد</a>
            </li>
            <li>
              <a routerLink="#">المكان</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div> -->

<div class="dropdown">
  <button
    class="menu-item m-2 dropdown-toggle"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <img src=".././../assets/images/mobile.png" /><span class="d-none"
      >تصميم الصفحات</span
    >
  </button>
  <div class="page dropdown-menu">
    <ul>
      <li>
        <!-- Default dropleft button -->
        <div class="btn-group dropleft mt-3">
          <button
            type="button"
            class="btn dropdown-toggle d-flex justify-content-between"
          >
            <i class="home"><span>الصفحة الرئيسية</span> </i>
            <i class="more"></i>
          </button>
          <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <a class="dropdown-item d-flex " routerLink="/headers"
              ><i class="top-bar"></i>الشريط العلوي</a
            >
            <a class="dropdown-item d-flex " routerLink="/sliders"
              ><i class="slider-ico"></i>سلايدر</a
            >
            <a class="dropdown-item d-flex " routerLink="#"
              ><i class="dep"></i>الاقسام</a
            >
            <a class="dropdown-item d-flex " routerLink="#"
              ><i class="products"></i>المنتجات</a
            >
            <a class="dropdown-item d-flex " routerLink="#"
              ><i class="footer-ico"></i>الشريط السفلي</a
            >
          </div>
        </div>
      </li>
      <li>
        <!-- Default dropleft button -->
        <div class="btn-group dropleft mt-3">
          <button
            type="button"
            class="btn dropdown-toggle d-flex justify-content-between"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="home"> <span>الصفحة الرئيسية</span> </i>
            <i class="more"></i>
          </button>
          <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <div class="dropdown-menu">
              <!-- Dropdown menu links -->
              <a class="dropdown-item d-flex " routerLink="#"
                ><i class="top-bar"></i>الشريط العلوي</a
              >
              <a class="dropdown-item d-flex " routerLink="#"
                ><i class="slider-ico"></i>سلايدر</a
              >
              <a class="dropdown-item d-flex " routerLink="#"
                ><i class="dep"></i>الاقسام</a
              >
              <a class="dropdown-item d-flex " routerLink="#"
                ><i class="products"></i>المنتجات</a
              >
              <a class="dropdown-item d-flex " routerLink="#"
                ><i class="footer-ico"></i>الشريط السفلي</a
              >
            </div>
          </div>
        </div>
      </li>
      <li>
        <!-- Default dropleft button -->
        <div class="btn-group dropleft mt-3">
          <button
            type="button"
            class="btn dropdown-toggle d-flex justify-content-between"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="home"><span>الصفحة الرئيسية</span></i>
            <i class="more"></i>
          </button>
          <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <a class="dropdown-item d-flex " routerLink="#"
              ><i class="top-bar"></i>الشريط العلوي</a
            >
            <a class="dropdown-item d-flex " routerLink="#"
              ><i class="slider-ico"></i>سلايدر</a
            >
            <a class="dropdown-item d-flex " routerLink="#"
              ><i class="dep"></i>الاقسام</a
            >
            <a class="dropdown-item d-flex " routerLink="#"
              ><i class="products"></i>المنتجات</a
            >
            <a class="dropdown-item d-flex " routerLink="#"
              ><i class="footer-ico"></i>الشريط السفلي</a
            >
          </div>
        </div>
      </li>
      <li>
        <!-- Default dropleft button -->
        <div class="btn-group dropleft mt-3">
          <button
            type="button"
            class="btn dropdown-toggle d-flex justify-content-between"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="home"> <span>الصفحة الرئيسية</span> </i>
            <i class="more"></i>
          </button>
          <div class="dropdown-menu">
            <!-- Dropdown menu links -->
            <a class="dropdown-item d-flex " routerLink="/store/headers"
              >الشريط العلوي</a
            >
            <a class="dropdown-item d-flex " routerLink="#">سلايدر</a>
            <a class="dropdown-item d-flex " routerLink="#">الاقسام</a>
            <a class="dropdown-item d-flex " routerLink="#">المنتجات</a>
            <a class="dropdown-item d-flex " routerLink="#">الشريط السفلي</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div>
  <button class="menu-item m-2">
    <img src=".././../assets/images/mobile.png" /><span class="d-none"
      >تصميم الصفحات</span
    >
  </button>
</div>
<div>
  <button class="menu-item m-2">
    <img src=".././../assets/images/mobile.png" /><span class="d-none"
      >تصميم الصفحات</span
    >
  </button>
</div>
<div>
  <button class="menu-item m-2">
    <img src=".././../assets/images/mobile.png" /><span class="d-none"
      >تصميم الصفحات</span
    >
  </button>
</div>
